APScheduler==3.10.1
aiofiles==23.1.0
fastapi==0.99.1
fastapi-utils==0.2.1
fastapi_amis_admin==0.5.7
fastapi_scheduler==0.0.12
fastjsonschema==2.16.2
requests==2.31.0
schedule==1.2.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a34
sqlalchemy_database==0.1.0
sqlmodel==0.0.8
sqlparse==0.4.2
uvicorn==0.22.0
psycopg2==2.9.6
dotenv==0.0.5